.EpisodeList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.EpisodeList .episodes-count {
  padding-left: 24px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.EpisodeList .episodes-table table {
  border-collapse: collapse;
  width: 100%;
}

.EpisodeList .episodes-table th {
  padding: 10px 24px;
}

.EpisodeList .episodes-table tbody > tr:nth-child(even) {
  background-color: rgba(51, 81, 106, 0.3);
}

.EpisodeList .episodes-table tbody > tr:hover {
  background-color: rgba(51, 81, 106, 0.4);
}

.EpisodeList .episodes-table td,
.EpisodeList .episodes-table th {
  text-align: left;
  padding: 12px 24px;
  border-bottom: solid 1px var(--shadow-color);
}

.EpisodeList .episodes-table td:last-child {
  text-align: right;
}

.EpisodeList .episodes-table a {
  color: var(--secondary-color);
  text-decoration: underline;
}

.EpisodeList .episodes-table a:hover,
.EpisodeList .episodes-table a:visited {
  color: #bbb;
}
