.PodcastCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.PodcastCard:hover {
  cursor: pointer;
}

.PodcastCard:hover .card-image {
  transition: var(--fast-transition);
  transform: scale(1.1);
}

.PodcastCard:hover .card-info {
  transition: var(--fast-transition);
  -webkit-box-shadow: 3px 3px 0px -1px var(--shadow-color);
  -moz-box-shadow: 3px 3px 0px -1px var(--shadow-color);
  box-shadow: 3px 3px 0px -1px var(--shadow-color);
}

.PodcastCard:hover .card-image {
  border: 2px solid var(--shadow-color);
}

.PodcastCard .card-image {
  position: absolute;
  border-radius: 50%;
}

.PodcastCard .card-info {
  background-color: var(--bg-main-color);
  display: flex;
  flex-direction: column;
  border: solid 1px var(--shadow-color);
  border-radius: 10px;
  padding: 12px 12px 12px 125px;
  gap: 12px;
}

.PodcastCard .card-info .card-title {
  font-weight: 500;
}

.PodcastCard .card-info .card-author {
  font-weight: 100;
}
