.PodcastList .podcast-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 10px;
}

.PodcastList .podcast-container .podcast-filter {
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 20px;
}

.PodcastList .podcast-container label[role='count'] {
  background-color: var(--action-color);
  color: #fff;
  padding: 4px 7px;
  border: solid 2px var(--bg-main-color);
  border-radius: 10px;
  font-size: 14px;
}

.PodcastList .podcast-container input[role='filter'] {
  max-width: 200px;
  padding: 7px 12px;
  border: solid 2px var(--bg-main-color);
  border-radius: 7px;
}

.PodcastList .podcast-container input[role='filter']:focus {
  border-color: var(--bg-main-color);
  outline: solid 2px var(--bg-main-color);
}

.PodcastList .podcast-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0;
  gap: 112px 24px;
}

@media only screen and (max-width: 600px) {
  .PodcastList .podcast-container {
    padding: 0;
  }

  .PodcastList .podcast-container .podcast-filter {
    align-self: center;
  }

  .PodcastList .podcast-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
