.PodcastDetail {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.PodcastDetail .podcast-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  width: 280px;
}

.PodcastDetail .podcast-info a {
  display: flex;
  flex-direction: column;
}

.PodcastDetail .podcast-info .info-image {
  display: flex;
  align-self: center;
}

.PodcastDetail .podcast-info .info-title {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.PodcastDetail .podcast-info .info-subtitle {
  text-align: left;
  font-style: italic;
  font-weight: 100;
}

.PodcastDetail .podcast-info .description-label {
  display: block;
  font-weight: 500;
  line-height: 2;
}

.PodcastDetail .centered-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .PodcastDetail {
    flex-direction: column;
    gap: 24px;
  }

  .PodcastDetail .podcast-info {
    width: inherit;
  }
}
