@import './variables.css';
@import './animations.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

body {
  margin: 0;
  color: #fff;
  background-color: var(--bg-secondary-color);
}

a {
  text-decoration: none;
  color: #fff;
}

hr {
  display: flex;
  align-self: center;
  width: 100%;
  color: var(--shadow-color);
  opacity: 0.6;
  margin: 20px 0;
}

.card {
  padding: 12px;
  border: solid 1px var(--shadow-color);
  border-radius: 10px;
  background-color: var(--bg-main-color);
  -webkit-box-shadow: 3px 3px 0px -1px var(--shadow-color);
  -moz-box-shadow: 3px 3px 0px -1px var(--shadow-color);
  box-shadow: 3px 3px 0px -1px var(--shadow-color);
}

* {
  font-family: Roboto, sans-serif;
}
