.EpisodeDetail {
  display: flex;
  flex: 1;
}

.EpisodeDetail .episode-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 36px;
  padding: 24px;
}

.EpisodeDetail .episode-title {
  font-weight: 500;
  font-size: 24px;
}
